md-card
    md-toolbar
        .md-toolbar-tools
            h4 Información del Contacto
            span(flex)
            md-button(ng-click="close()")
                md-icon clear
    md-card-content(layout="column")
        strong Nombre:
        p {{contacto.nombre}}
        strong Email:
        p {{contacto.email}}
        strong Mensaje:
        p {{contacto.mensaje}}
        strong Telefono:
        p {{contacto.telefono}}
