.slider
	.slide(ng-repeat="image in images" ng-show="image.visible" style="")
		.background(style="background-image : url({{image.imagen}})")
		//- img(src="{{}}")
	//- div(layout="row" layout-align="space-between center")
	//- 	md-button(ng-click="prev()")
	//- 		md-icon.material-icons keyboard_arrow_left
	//- 	md-button(ng-click="next()")
	//- 		md-icon.material-icons keyboard_arrow_right
