md-card(ng-init="obtenerOrdenes()")
	md-toolbar
		.md-toolbar-tools Historico
	md-list
		md-list-item.md-2-line
			.md-list-item-text
				h3 PAgo de algo
				p 13/04/04
			.md-secondary
				p $300
	md-subheader
		p total
