div(layout="row" layout-align="center start" style="margin-top:90px;" ng-init="ObtenerCliente();")
		md-grid-list(md-cols-xs="2" md-cols-sm="4" md-cols-md="8" md-cols-lg="8" md-cols-xl="8" md-row-height="1:1" md-gutter="20px" flex="70")
			md-grid-tile(md-colspan-xs="2" md-rowspan-xs="2" md-colspan-sm="4" md-rowspan-sm="2" md-colspan-md="4" md-rowspan-md="1" md-colspan-lg="4" md-rowspan-lg="2" ng-repeat="tarjeta in tarjetas")
				md-card(layout-fill)
					div(layout="row")
						div.md-padding(flex="30")
							md-icon(layout-fill ng-if="tarjeta.brand === 'VISA'")
								svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 291.764 291.764" style="enable-background:new 0 0 291.764 291.764;" xml:space="preserve")
									g
										g
											path(style="fill:#2394BC;" d="M119.259,100.23l-14.643,91.122h23.405l14.634-91.122 C142.655,100.23,119.259,100.23,119.259,100.23z M189.857,137.348c-8.179-4.039-13.193-6.765-13.193-10.896 c0.1-3.756,4.24-7.604,13.485-7.604c7.604-0.191,13.193,1.596,17.433,3.374l2.124,0.948l3.182-19.065 c-4.623-1.787-11.953-3.756-21.007-3.756c-23.113,0-39.388,12.017-39.489,29.204c-0.191,12.683,11.652,19.721,20.515,23.943 c9.054,4.331,12.136,7.139,12.136,10.987c-0.1,5.908-7.321,8.634-14.059,8.634c-9.336,0-14.351-1.404-21.964-4.696l-3.082-1.404 l-3.273,19.813c5.498,2.444,15.609,4.595,26.104,4.705c24.563,0,40.546-11.835,40.747-30.152 C209.596,151.335,203.351,143.639,189.857,137.348z M272.891,100.512h-18.108c-5.58,0-9.82,1.605-12.236,7.331l-34.766,83.509 h24.563l6.765-18.08h27.481l3.51,18.153h21.664L272.891,100.512z M245.921,155.026c0.474,0.046,9.428-29.514,9.428-29.514 l7.13,29.514C262.479,155.026,250.544,155.026,245.921,155.026z M85.059,100.23l-22.931,61.909L59.63,149.93 c-4.24-14.087-17.533-29.395-32.368-36.999l20.998,78.33h24.764l36.799-91.021H85.059V100.23z")
									path(style="fill:#EFC75E;" d="M51.916,111.982c-1.787-6.948-7.486-11.634-15.226-11.734H0.374L0,101.934c28.329,6.984,52.107,28.474,59.821,48.688L51.916,111.982z")

							md-icon(layout-fill ng-if="tarjeta.brand === 'MC'")
								svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 291.791 291.791" style="enable-background:new 0 0 291.791 291.791;" xml:space="preserve")
									path(style="fill:#E2574C;" d="M182.298,145.895c0,50.366-40.801,91.176-91.149,91.176S0,196.252,0,145.895s40.811-91.176,91.149-91.176S182.298,95.538,182.298,145.895z")
									path(style="fill:#F4B459;" d="M200.616,54.719c-20.442,0-39.261,6.811-54.469,18.181l0.073,0.009 c2.991,2.89,6.291,4.924,8.835,8.251l-18.965,0.301c-2.972,3-5.68,6.264-8.233,9.656H161.3c2.544,3.054,4.896,5.708,7.03,9.081 h-46.536c-1.705,2.936-3.282,5.954-4.659,9.09h56.493c1.477,3.127,2.799,5.489,3.921,8.799h-63.76 c-1.012,3.146-1.878,6.364-2.535,9.646h68.966c0.675,3.155,1.194,6.072,1.55,9.045h-71.884c-0.301,3-0.456,6.045-0.456,9.118 h72.859c0,3.228-0.228,6.218-0.556,9.118h-71.847c0.31,3.091,0.766,6.127,1.368,9.118h68.856c-0.711,2.954-1.532,5.926-2.562,9.008 h-63.969c0.966,3.118,2.143,6.145,3.428,9.099h56.621c-1.568,3.319-3.346,5.972-5.306,9.081h-46.691 c1.842,3.191,3.875,6.236,6.081,9.154l33.589,0.501c-2.863,3.437-6.537,5.507-9.884,8.516c0.182,0.146-5.352-0.018-16.248-0.191 c16.576,17.105,39.744,27.772,65.446,27.772c50.357,0,91.176-40.82,91.176-91.176S250.981,54.719,200.616,54.719z")
						div.md-padding(flex="70")
							h3 • • • • {{tarjeta.last4}}
							p Caducidad {{tarjeta.exp_month}} / {{tarjeta.exp_year}}
					md-divider
					div(layout="row" layout-align="space-around center")
						div
							md-button(ng-if="tarjeta.default" md-colors="{background: 'green'}") principal
						div
							//- md-button Editar
							md-button(ng-click="eliminarTarjeta($index)") Eliminar
			md-grid-tile(md-colspan-xs="2" md-rowspan-xs="2" md-colspan-sm="2" md-rowspan-sm="2" md-colspan-md="3" md-rowspan-md="2" md-colspan-lg="4" md-rowspan-lg="2")
				md-button(layout-fill style="border-width:4px; border-style:dotted; border-color: gray;" layout="row" layout-align="center center" ng-click="mdDialogTarjeta()")
					div
						md-icon.material-icons add_circle
						|  Agregar metodo de pago
