md-card
	md-toolbar
		.md-toolbar-tools Perfil
	md-card-content
		div.content-line
			strong Nombre:
			p Ulises Arturo
		div.content-line
			strong Apellido:
			p Gonzales Callejas
		div(layout="row" layout-align="center center")
			div.md-padding(flex="40")
				strong Redes sociales enlazadas:
				md-list
					md-list-item.md-2-line
						md-icon
							svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 408.788 408.788" style="enable-background:new 0 0 408.788 408.788;" xml:space="preserve")
								path(style="fill:#475993;" d="M353.701,0H55.087C24.665,0,0.002,24.662,0.002,55.085v298.616c0,30.423,24.662,55.085,55.085,55.085h147.275l0.251-146.078h-37.951c-4.932,0-8.935-3.988-8.954-8.92l-0.182-47.087c-0.019-4.959,3.996-8.989,8.955-8.989h37.882v-45.498c0-52.8,32.247-81.55,79.348-81.55h38.65c4.945,0,8.955,4.009,8.955,8.955v39.704c0,4.944-4.007,8.952-8.95,8.955l-23.719,0.011c-25.615,0-30.575,12.172-30.575,30.035v39.389h56.285c5.363,0,9.524,4.683,8.892,10.009l-5.581,47.087c-0.534,4.506-4.355,7.901-8.892,7.901h-50.453l-0.251,146.078h87.631c30.422,0,55.084-24.662,55.084-55.084V55.085C408.786,24.662,384.124,0,353.701,0z")
						.md-list-item-text
							h3 /ulises.callejas
							p FAcebook
						md-icon.md-secondary.material-icons(md-colors="{color: 'green'}") offline_pin
					md-divider
					md-list-item.md-2-line
						md-icon
							svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 458.246 458.246', style='enable-background:new 0 0 458.246 458.246;', xml:space='preserve')
								path(style="fill:#F34A38;" d="M160.777,259.368h71.594c-12.567,35.53-46.603,61.004-86.45,60.71 c-48.349-0.357-88.327-39.035-90.204-87.349c-2.012-51.789,39.537-94.563,90.887-94.563c23.479,0,44.905,8.946,61.058,23.605 c3.826,3.473,9.65,3.495,13.413-0.047l26.296-24.749c4.112-3.871,4.127-10.408,0.027-14.292 c-25.617-24.269-59.981-39.396-97.876-40.136C68.696,80.969,0.567,147.238,0.004,228.078 c-0.568,81.447,65.285,147.649,146.6,147.649c78.199,0,142.081-61.229,146.36-138.358c0.114-0.967,0.189-33.648,0.189-33.648 H160.777c-5.426,0-9.824,4.398-9.824,9.824v35.999C150.953,254.97,155.352,259.368,160.777,259.368z")
								path(style="fill:#F34A38;" d="M414.464,206.99v-35.173c0-4.755-3.854-8.609-8.609-8.609h-29.604c-4.755,0-8.609,3.854-8.609,8.609 v35.173h-35.173c-4.755,0-8.609,3.854-8.609,8.609v29.604c0,4.755,3.854,8.609,8.609,8.609h35.173v35.173 c0,4.755,3.854,8.609,8.609,8.609h29.604c4.755,0,8.609-3.854,8.609-8.609v-35.173h35.173c4.755,0,8.609-3.854,8.609-8.609v-29.604 c0-4.755-3.854-8.609-8.609-8.609L414.464,206.99L414.464,206.99z")
						.md-list-item-text
							h3 ulises256@gmail.com
							p Google
						md-icon.md-secondary.material-icons(md-colors="{color: 'red'}") highlight_off

