.loading(ng-if="loading")
    md-progress-linear(md-mode="indeterminate" ng-disabled="!loading" )
.area(ng-if="!loading")
    section.video(ng-if="area")
        video-bg(video-id="area.video")
        iframe(src="https://www.youtube.com/embed/jKN_fOW8gIQ?rel=0" frameborder="0" allowfullscreen hide-gt-sm)
    md-toolbar(md-whiteframe="5")
        .md-toolbar-tools
            h1 {{area.nombre}}
    include frags/descripcion
    include frags/portada
    include frags/equipo
    section.portada.parrallax
        .loading(ng-if="!portadalista")
            md-progress-circular(md-mode="indeterminate" md-diameter="100")
        img.background(src="{{portadas[1].imagen}}" ng-if="portadalista")
    section(layout="row" layout-align="center center")
        .section-content(flex="70" flex-md="70" flex-sm="80" flex-xs="100" layout="column")
            //- h4(style="text-align: center") Programas:
            p(style="text-align: center")  Cuenta con  seis programas computarizados de lavado a tu necesidad; todos finalizan con el  detallado manual de exterior e interior, llantas, rines, lavado de tapetes, aromatizado y aspirado de asientos y alfombras.
    include frags/paquete
    include frags/multimedia
