extends ../index

block moreHead
	script(type="text/javascript" src="js/main/main.states.js")
	script(type="text/javascript" src="js/main/main.controller.js")
	link(type="text/css" rel="stylesheet", href="stylus/main.css")

block content
	div(ng-controller="mainCtrl as mainctrl" main)
		header(layout="row" layout-align="center center" md-whiteframe="5")
			include ../partials/nav
		.body(layout="row" layout-align="center center")
			.centro(flex="100" flex-md="100" flex-sm="100" flex-xs="100")
				main.page(ui-view="main" autoscroll="true")
		footer
			include ../partials/footer
