md-nav-bar(md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links")
    md-nav-item(md-nav-sref='imagenes.portada' name="portadas") Portadas
    md-nav-item(md-nav-sref='imagenes.multimedia' name="multimedia") Multimedia

main(ui-view="main")
