section.aviso-container(layout="row" layout-align="center center" style="margin-top: 100px")
    .aviso(flex="50" flex-md="70" flex-sm="70" flex-xs="70")
        .aviso-content
            h1 AVISO DE PRIVACIDAD
            md-divider
            h3 Responsable de la protección de sus datos personales
            p Grupo Industrial Turbowash, S.A. de C.V. con domicilio en Av. Ruiz Cortines No. 1801, Colonia Obrero Campesina, C.P. 91020 de la ciudad de Xalapa, Veracruz, es responsable del tratamiento de sus datos personales.
            br 
            h3 Finalidades del tratamiento de los datos personales
            p Grupo Industrial Turbowash, S.A. de C.V. recaba, utiliza y almacena sus datos personales, en las medidas que las leyes aplicables lo permitan. Por lo tanto, sus datos personales serán utilizados para las siguientes finalidades:
            p - Proveer los servicios y productos requeridos por usted;
            p - Dar cumplimiento a obligaciones contraídas con nuestros clientes;
            p - Elaboración de facturas (impresas o electrónicas) solicitadas por el cliente.
            br
            h3 Datos personales que se obtienen y la manera en que se obtienen
            p Para las finalidades señaladas en el presente aviso de privacidad, podemos recabar sus datos personales de distintas formas:
            p - Cuando usted nos los proporciona directamente;
            p - Cuando usted nos los proporciona a través de nuestro correo electrónico;
            p - Cuando usted nos los proporciona vía telefónica, y
            p - Cuando obtenemos información a través de otras fuentes que están permitidas por la ley.
            br
            h3 Los datos que obtenemos por estos tres primeros medios pueden ser, entre otros:
            p - R.F.C. del cliente al que se le presta el servicio
            p - Nombre completo (en el caso de que sea persona física) o en su caso, la razón social de la empresa (persona moral)
            p - Dirección
            p - Teléfono (s)
            p - Correo electrónico
            br 
            h3 Podemos obtener información de usted de otras fuentes permitidas por la ley, tales como los directorios telefónicos o laborales. Los datos que obtenemos por estos medios pueden ser, entre otros:
            p - Nombre de la persona física o persona moral
            p - Dirección
            p - Teléfonos
            p - Paginas web
            p Sus datos personales serán tratados únicamente por el tiempo necesario a fin de cumplir con las finalidades descritas y/o de conformidad con lo que establezcan las disposiciones legales aplicables
            h3 Seguridad de los datos personales
            p Grupo Industrial Turbowash, S.A. de C.V. implementará las medidas de seguridad, técnicas, administrativas y físicas, necesarias para proteger sus datos personales y evitar su daño, pérdida, alteración, destrucción o el uso, acceso o tratamiento no autorizado.
            p Únicamente el personal autorizado, que ha cumplido y observado los correspondientes requisitos de confidencialidad, podrá participar en el tratamiento de sus datos personales. El personal autorizado tiene prohibido permitir el acceso de personas no autorizadas y utilizar sus datos personales para fines distintos a los establecidos en el presente Aviso de Privacidad. La obligación de confidencialidad de las personas que participan en el tratamiento de sus datos personales subsiste aun después de terminada la relación con Grupo Industrial Turbowash, S.A. de C.V.
            br 
            h3 Derechos que le corresponden
            p Usted tiene derecho de preguntarnos por sus datos personales que poseemos y a los detalles del tratamiento de los mismos, así como a rectificarlos en caso de ser inexactos o incompletos; cancelarlos cuando considere que no se requieren para alguna de las finalidades señalados en el presente aviso de privacidad, estén siendo utilizados para finalidades no consentidas o haya finalizado la relación contractual o de servicio, o bien, oponerse al tratamiento de los mismos para fines específicos.
            p Los mecanismos que se han implementado para el ejercicio de dichos derechos son a través de la presentación de la solicitud escrita respectiva en las oficinas ubicadas en la Av. Ruiz Cortines No. 1801, colonia obrero campesina, C.P. 91020 de la ciudad de Xalapa, Veracruz. Su solicitud deberá contener la siguiente información: su nombre y domicilio o medio para recibir comunicaciones, identificación o documentos que acrediten la personalidad del representante legal, la explicación clara y precisa de los datos personales a los cuales quiere tener acceso, rectificación o cancelación y cualquier otro elemento o documento que facilite la localización de sus datos personales. Los plazos para atender su solicitud son 15 días después de recibir su petición.
            br 
            h3 Transferencias de datos personales
            p Nos comprometemos a no transferir su información personal a terceros sin su consentimiento, salvo las excepciones previstas en el artículo 37 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, así como a realizar esta transferencia en los términos que fija esa ley.
            br
            Strong Articulo 37
            p Las transferencias nacionales o internacionales de datos podrán llevarse a cabo sin el consentimiento del titular cuando se dé alguno de los siguientes supuestos:
            p I. Cuando la transferencia esté prevista en una Ley o Tratado en los que México sea parte;
            p II. Cuando la transferencia sea necesaria para la prevención o el diagnóstico médico, la prestación de asistencia sanitaria, tratamiento médico o la gestión de servicios sanitarios;
            p III. Cuando la transferencia sea efectuada a sociedades controladoras, subsidiarias o afiliadas bajo el control común del responsable, o a una sociedad matriz o a cualquier sociedad del mismo grupo del responsable que opere bajo los mismos procesos y políticas internas;
            p IV. Cuando la transferencia sea necesaria por virtud de un contrato celebrado o por celebrar en interés del titular, por el responsable y un tercero;
            p V. Cuando la transferencia sea necesaria o legalmente exigida para la salvaguarda de un interés público, o para la procuración o administración de justicia;
            p VI. Cuando la transferencia sea precisa para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial, y
            p VII. Cuando la transferencia sea precisa para el mantenimiento o cumplimiento de una relación jurídica entre el responsable y el titular.”
            p Si usted no manifiesta su oposición para que sus datos personales sean transferidos, se entenderá que ha otorgado su consentimiento para ello.
            p - No consiento que mis datos personales sean transferidos en los términos que señala el presente aviso de privacidad.
            br
            h3 ¿Ante quién puede presentar sus quejas y denuncias por el tratamiento indebido de sus datos personales?
            p Si usted considera que su derecho de protección de datos personales ha sido lesionado por alguna conducta de nuestros empleados o de nuestras actuaciones o respuestas, presume que en el tratamiento de sus datos personales existe alguna violación a las disposiciones previstas en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, podrá interponer la queja o denuncia correspondiente ante el IFAI, para mayor información visite www.ifai.org.mx
            br 
            h3 Cambios al Aviso de Privacidad
            p Grupo Industrial Turbowash, S.A. de C.V. se reserva el derecho de enmendar o modificar el presente Aviso de Privacidad como estime conveniente, por ejemplo, para cumplir con cambios a la legislación sobre protección de datos o cumplir con disposiciones internas. Le informaremos y pondrá a su disposición el Aviso de Privacidad actualizado cuando se le hagan cambios significativos al mismo, así como cuando se requiera recabar su consentimiento. La versión actualizada del Aviso de Privacidad estará disponible en sus oficinas y en su correo electrónico.
            br 
            h3 Departamento de Protección de Datos
            p Si tienes preguntas, comentarios o dudas respecto de nuestras políticas de privacidad o prácticas, contáctanos en la siguiente dirección o número telefónico:
            p Oficina de privacidad: Grupo Industrial Turbowash, S.A. de C.V.
            p Domicilio: Av. Ruiz Cortines No. 1801, Col. Obrero Campesina C.P. 91020 Xalapa, Veracruz.
            p Correo electrónico: turbowash@turbowash.com.mx
            p Teléfono: 228 (8906801) 228 (8906803)
            p Fecha última actualización 01/07/2011
