.home
    section.video
        video-bg(video-id="video.id")
        iframe(src="https://www.youtube.com/embed/hM6YAE6QVro?rel=0" frameborder="0" allowfullscreen hide-gt-sm)
    section.contenido(layout="row" layout-align="center center")
        .section-content(flex="80" flex-md="90" flex-sm="90" flex-xs="90")
            h4 ¿QUIÉNES SOMOS?
            h1 ¿QUÉ ES TURBOWASH?
            h2 LAVADO DE AUTOS, TALLER DE PINTURA HORNEADA, LLANTERA, TALLER DE MECÁNICA y SERVICIO RESIDENCIAL, COMERCIAL E INDUSTRIAL
            div(layout="row" layout-xs="column" layout-sm="column")
                .md-padding
                    strong MISIÓN
                    p TURBOWASH ES UNA EMPRESA DINÁMICA QUE BUSCA SATISFACER LAS NECESIDADES DE SUS CLIENTES EN EL ÁREA DE  LIMPIEZA, MANTENIMIENTO, CONSERVACIÓN Y PREVENCIÓN DE SUS BIENES, MUEBLES E INMUEBLES CON TECNOLOGÍA DE PUNTA PRODUCTOS BIODEGRADABLES Y PERSONAL CON PROFUNDO ESPÍRITU DE SERVICIO Y CALIDAD HUMANA.
                .md-padding
                    strong VISIÓN
                    p TURBOWASH ES UNA EMPRESA QUE BUSCA SER LÍDER Y ESTAR A LA VANGUARDIA EN EL MERCADO DE XALAPA, ESTADO DE VERACRUZ Y RESTO DEL PAÍS EN EL ÁREA DE LIMPIEZA, MANTENIMIENTO CONSERVACIÓN Y PREVENCIÓN DE BIENES, MUEBLES E INMUEBLES
    section.slider
        slider.slider(images="slider1")
    section.contenido(layout="row" layout-align="center center")
        .section-content(flex="70")
            h1 Cuidamos el medio ambiente
            .md-padding(style="padding-left: 0px")
                
                p 
                    strong En turbowash
                    |   nos preocupamos día a día por el medio ambiente por eso contamos con un planta de tratamiento de aguas y un sistema de recolección pluvial.
    section.slider
        slider.slider(images="slider2")
