section.imagen(style="background-image: url(img/ejemplos/oferta.jpg)")
    .titulo
        h1 Oferta de Trabajo
section.oferta-container(layout="row" layout-align="center center")
    .oferta(flex="30" flex-md="50" flex-sm="50" flex-xs="50")
        .oferta-content(layout="column" layout-align="center center")
            h3 Si estas interesado en formar parte de nuestro equipo favor de comunicarte con nosotros vía inbox en nuestro facebook.
            br
            md-button(href='https://www.facebook.com/turbowashxalapa/')
                img(src="img/ejemplos/fb.png" style="margin: auto" ui-sref="facebook.com")
            md-button(href='https://www.facebook.com/turbowashxalapa/')
                p Turbowash Xalapa
