section.imagen(style="background-image: url(img/ejemplos/aviso.jpg)")
    .titulo
        h1 Sucursales y Horarios de Atención
section.sucursal-container(layout="row" layout-align="center center" style="width:100%")
    .sucursal(flex="80" flex-md="80" flex-sm="80" flex-xs="80" layout="row")
        .sucursal-content(layout="column" layout-align="center center" flex)
            h4 ENCUENTRA EL TURBOWASH MÁS CERCANO
            md-divider
            h4 Sucursales y Horarios de Atención
            md-list
                md-list-item.md-2-line
                    md-icon(style="margin-left: 0px;") location_on
                    .md-list-item 
                        h4 AV. LÁZARO CÁRDENAS
                        p # 862 E/ ISMAEL CRISTEN Y GILDARDO AVILÉS, COL. RAFAEL LUCIO C.P. 91110
                        p TEL. (228) 890 6803
                md-list-item.md-2-line
                    md-icon(style="margin-left: 0px;")  location_on
                    .md-list-item 
                        h4 AV. ARCO SUR
                        p # 171, COL. RESERVA TERRITORIAL  C.P. 91096
                        p TEL. (228) 890 6805
                md-list-item.md-2-line
                    md-icon(style="margin-left: 0px;")  location_on
                    .md-list-item 
                        h4 AV. RUIZ CORTINES
                        p #1801 COL. OBRERO CAMPESINA  ESQ. REYES HEROLES  C.P.91020
                        p TEL. (228) 890 6802

            h3 HORARIOS DE TALLERES
            p De Lunes a Viernes de 9am a 7pm (horario corrido) Sábados de 9am a 3pm
            br
            h3 LAVADO AUTOMATIZADO & ESTÉTICA AUTOMOTRIZ
            p De Lunes a Domingo de 7:30am a 8pm.
            br
            h3 ATENCIÓN A CLIENTES
            p Contamos con un departamento de atención a clientes donde atendemos:
            p - Recepción de siniestros
            p - Venta de servicios
        .imagen(hide-xs hide-sm layout="column")
            .imagen-content(flex)
                img(src="img/ejemplos/sucursal.png" style="margin: auto")
img(src="img/ejemplos/sucursal01.png" style="margin: auto; width: 100%")
