section.imagen(style="background-image: url(img/videos.jpg)")
    .titulo
        h1 Videos
section.videos(layout="row" layout-align="center center")
    md-grid-list(md-cols="2" md-cols-xs="1" md-cols-sm="1" md-row-height="250px" md-gutter="2em" flex="70" flex-md="70" flex-sm="70" flex-xs="100")
        md-grid-tile(md-colspan="2" md-rowspan="1")
            iframe(src="https://www.youtube.com/embed/hM6YAE6QVro?rel=0" frameborder="0" allowfullscreen)            
        md-grid-tile(md-colspan="1" md-rowspan="1")
            iframe(src="https://www.youtube.com/embed/YXqI55i-urY?rel=0" frameborder="0" allowfullscreen)
        md-grid-tile(md-colspan="1" md-rowspan="1")
            iframe(src="https://www.youtube.com/embed/bPcm_AnuUZY?rel=0" frameborder="0" allowfullscreen)
        md-grid-tile(md-colspan="1" md-rowspan="1")
            iframe(src="https://www.youtube.com/embed/m6M5_qAAtM8?rel=0" frameborder="0" allowfullscreen)
        md-grid-tile(md-colspan="1" md-rowspan="1")
            iframe(src="https://www.youtube.com/embed/7YxJKwyJVhM?rel=0" frameborder="0" allowfullscreen)
        md-grid-tile(md-colspan="1" md-rowspan="1")
            iframe(src="https://www.youtube.com/embed/t27abfLMXYA?rel=0" frameborder="0" allowfullscreen)
        md-grid-tile(md-colspan="1" md-rowspan="1")
            iframe(src="https://www.youtube.com/embed/Veut1xp8ziA?rel=0" frameborder="0" allowfullscreen)
