section.descripcion(layout="row" layout-align="center center" ng-if="area.descripcion !== null")
    .descripcion-content(flex="70" flex-md="70" flex-sm="80" flex-xs="90")
        p {{area.descripcion}}
